.auth-wrapper {
  min-height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--background);

  &_content {
    width: 500px;
    border-radius: 5px;

    @media (max-width: 600px) {
      width: calc(100% - 32px);
    }
  }
}