.button-wrapper {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 0 8px;
  transition: 0.2s ease-in-out;

  &:hover {
    filter: brightness(110%);
  }

  &:active {
    filter: brightness(90%);
  }
}

.disabled {
  cursor: not-allowed;
}