.nav {
  background: black;
  color: white;
  padding: 30px;
  width: 100vw;
  position: relative;
  display: flex;
  align-items: center;

  .media-time {
    margin-right: 24px;
    padding-right: 24px;
    border-right: 1px solid white;
    height: 100%;

    .label {
      margin-bottom: 6px;
      font-size: 12px;
      color: rgba($color: white, $alpha: 0.7);
    }
  }

  .logo {
    font-size: 32px;
  }

  .link:not(:last-child) {
    margin-right: 12px;
  }
}