.sidebar {
  width: 300px;
  position: relative;
  min-height: calc(100vh - 91px);
  z-index: 100;
  border-right: 1px solid var(--primary);

  @media (max-width: 700px) {
    display: none;
  }
  
  .link {
    padding: 20px 30px;
    transition: 0.2s ease-in-out;
    font-size: 26px;

    &_selected {
      color: var(--primary);
      border-bottom: 1px solid var(--primary);

      &:hover {
        color: var(--primary) !important;
      }
    }

    &:hover {
      cursor: pointer;
      color: var(--text-primary);
    }
  }
}