.snackbar {
  border-radius: 6px;
  padding: 0;
  color: white;
  position: fixed;
  bottom: 32px;
  right: 32px;
  overflow: hidden;
  width: 300px;
  opacity: 0;
  transform: translateY(100px);
  transition: 0.2s ease-in-out;
  z-index: 1000;

  &_visible {
    opacity: 1;
    padding: 12px;
    transform: translateY(0);
  }
}