.title {
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 24px;
}

.input-wrapper {
  width: 400px;
}

.tf-image-wrapper {
  height: 100%;
  z-index: 100;
  display: flex;
  align-items: center;
  border-radius: 0 2px 2px 0;

  .tf-image {
    width: 20px;
    padding-right: 6px;
  }
}

.gender_error {
  color: red;
  font-size: 12px;
  height: 0;
  transition: 0.2s ease-in-out;
  overflow: hidden;

  &_visible {
    height: 15px;
    margin-top: 4px;
  }
}

.totp {
  .step {
    font-size: 18px;
    margin-bottom: 12px;
  }
}

.note {
  font-size: 12px;
  color: var(--text-secondary);

  &_link {
    color: var(--primary);
    font-size: 12px;
  }

  &_heading {
    font-size: 12px;
  }
}

.privacy {
  padding: 5px;
  transition: 0.1s ease-in-out;
  &_error {
    color: red;
  }
}