.privacy {
  padding: 20px;

  .subtitle {
    margin: 12px 0;
    font-size: 18px;
    font-weight: bold;
    color: black;
  } 

  .title {
    color: black;
    font-size: 24px;
  }

  div {
    color: grey;
    font-size: 12px;
  }
}