.container {
  margin: 0 auto;
  width: 1100px;

  &_spacing {
    padding: 30px 0;
  }

  &_modal {
    width: 400px;

    @media (max-width: 450px) {
      width: calc(100% - 32px) !important;
      margin: 0 auto;
    }
  }

  @media (max-width: 1150px) {
    width: calc(100% - 32px);
  }
}

.pointer {
  &:hover {
    cursor: pointer;
  }
}

.underline {
  text-decoration: underline;
}

.flex {
  display: flex;

  &_1 {
    flex-basis: 0;
    flex-grow: 1;
  }

  &_2 {
    flex: 2 !important;
  }
}

.col {
  flex-direction: column;
}

.w-100 {
  width: 100%;
}

.align-center {
  align-items: center;
}

.space-between {
  justify-content: space-between;
}

.center {
  justify-content: center;
}

.align-end {
  align-items: flex-end;
}

.flex-end {
  justify-content: flex-end;
}

.no-border {
  border: none !important;
}

.ta-c {
  text-align: center;
}

.no-bg {
  background: none !important;
}

.button-icon {
  height: 16px;
  width: 16px;
  margin-right: 4px;
}

.tf-label {
  font-size: 12px;
  margin-bottom: 4px;
  position: relative;
  top: 5px;
  padding: 2px 4px;
  z-index: 10;
  display: inline-block;
  border-top: 1px solid var(--primary);
  border-left: 1px solid var(--primary);
  border-right: 1px solid var(--primary);
  background: black;

  &_no-format {
    border-top: none;
    border-left: none;
    border-right: none;
    background: none;
  }

  &_no-pad {
    padding: 0;
  }
}