:root {
  // --primary: pink;
  --primary: #77ACC6;
  --primary-dimmed: #77acc67a;
  --success: #008000;
  --error: red;
  --secondary: #a3a3a3;
  --background: white;

  --info: rgba(76, 245, 248, 0.632);

  --text-primary: black;
  --text-secondary: rgb(109, 109, 109);

  --border-primary: rgb(83, 83, 83);
  --border-primary-dimmed: rgba(255, 255, 255, 0.469);

  
  --blue: rgb(82, 82, 255);

  // Textfield variables
  --tf-error: rgb(221, 27, 27);

  --box-shadow-dark: black;
  --box-shadow-light: rgb(238, 238, 238);

  --text-dark-grey: rgb(120, 120, 120);
  --text-light-grey: rgb(169, 169, 169);


  --svg-orange: invert(75%) sepia(72%) saturate(3444%) hue-rotate(314deg) brightness(101%) contrast(108%);
  --svg-white: invert(100%) sepia(5%) saturate(4843%) hue-rotate(196deg) brightness(135%) contrast(104%);
}